.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  width: 100%;
  background-color: #ffdae0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box; 
  overflow: hidden;
}

.content img {
  max-width: 100%; 
  width: 80%;
  height: auto;
  border-radius: 20px;
}


.content h1 {
  color: #d63384;
  font-size: 1.8rem; 
  margin: 20px 0;
}

.buttons {
  display: flex;
  flex-direction: row; 
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Media Query para pantallas pequeñas (Teléfonos) */
@media (max-width: 480px) {
  .content h1 {
    font-size: 1.4rem; /* Texto un poco más pequeño en cel */
  }
  
  .buttons {
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
  }
}